#operators{
    display: inline;
}

.operation{
    background-color: lightblue;
    display: inline;
    float: left;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    margin: 5px 5px;
    text-align: center;
}

#answer{
    display: block;
    font-size: 35px;
}

#clear{background-color: lightblue;
    display: inline;
    float: left;
    height: 30px;
    border-radius: 5px;
    margin: 5px 5px;
    text-align: center;
    width: 100px;
}